#transition {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1800px;
  color: color-mix(in lch, var(--smoke), var(--amber) var(--t));
  transition: color 400ms ease;
  padding-top: 100px;
}

#cockpit {
  position: sticky;
  top: 10vh;
  height: 75vh;
  margin: 120px 0;
  font-size: 14px;
}

#cockpit foreignObject {
  line-height: 1.1;
}

#tend {
  position: absolute;
  bottom: 200px;
}

@media screen and (max-width: 1115px) {
  #cockpit {
    margin-top: 0;
  }
}
