#countdown {
  position: relative;
  height: 896px;
  background-image: url("/assets/pad.jpg");
  background-size: cover;
  background-position: center;
  background-size: calc(100% + var(--scroll) * 3);

  display: grid;
  place-items: center;
}

#count {
  font-size: 440px;
  color: var(--flux);
  z-index: 1;
}

#countdown > canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: min(90%, calc((var(--scroll) - 12%) * 11));
}
