#deparkanoid {
  position: relative;
  margin: 380px 0 100px;
}

#deparkanoid .comment {
  position: absolute;
  top: -146px;
  left: 154px;
  width: 302px;
  color: var(--mud);
}

@media screen and (max-width: 1115px) {
  #deparkanoid {
    margin: 286px 0 100px;
  }

  #deparkanoid .comment {
    left: 93px;
  }
}

@media screen and (max-width: 767px) {
  #deparkanoid {
    display: none;
  }
}
