#deparkanoid {
  position: relative;
  margin: 380px 0 100px;
}

#deparkanoid .comment {
  position: absolute;
  top: -146px;
  left: 540px;
  width: 225px;
}

@media screen and (max-width: 1115px) {
  #deparkanoid .comment {
    left: 44px;
  }
}

@media screen and (max-width: 767px) {
  #deparkanoid {
    display: none;
  }
}
