#diagram1 {
  position: relative;
  display: flex;
  align-items: center;
  gap: 114px;
  padding-top: 198px;
  padding-bottom: 28px;
  color: var(--clay);
}

#diagram1 .comment {
  position: absolute;
  top: 132px;
  left: 228px;
  width: 212px;
  color: var(--mud);
}

#proto {
  margin-top: 60px;
  font-size: 11px;
}

#keeb {
  font-size: 16.5px;
  color: var(--clay);
}

@media screen and (max-width: 767px) {
  #diagram1 {
    padding: 0;
  }

  #diagram1 .comment {
    top: -86px;
    left: 66px;
  }

  #proto {
    position: relative;
    font-size: 13px;
    left: -295px;
  }

  #keeb {
    position: relative;
    left: -345px;
  }
}
