#tester {
  position: relative;
  flex: 1;
  padding-top: 160px;
  cursor: cell;
}

#apollo1 {
  position: absolute;
  transform: rotate(90deg);
  top: 966px;
  left: -391px;
  user-select: none;
}

.split {
  display: grid;
  grid-template-columns: 600px 1fr;
  gap: 88px;
  position: relative;
}

#glyph-specimen-static {
  display: none;
}

#glyph-specimen {
  --notch: 48px;
  position: sticky;
  top: 44px;
  display: grid;
  grid-template-rows: 237px 80px 240px 80px 1fr;

  color: var(--carbon);
  font-size: 11px;
  width: 100%;
  min-width: 500px;
  height: 794px;
  z-index: 1;
  clip-path: polygon(
    0 0,
    calc(100% - var(--notch)) 0,
    100% var(--notch),
    100% 100%,
    0 100%,
    0 0
  );

  /* --e: 1px; */
  /* --w: 48px; */
  /* background:
    linear-gradient(
      0deg,
      transparent var(--e),
      var(--cement) var(--e),
      var(--cement) calc(var(--w) - var(--e) - 1px),
      transparent calc(var(--w) - var(--e) - 1px),
      transparent var(--w)
    ),
    linear-gradient(
      90deg,
      transparent var(--e),
      var(--cement) var(--e),
      var(--cement) calc(var(--w) - var(--e) - 1px),
      transparent calc(var(--w) - var(--e) - 1px),
      transparent var(--w)
    ),
    linear-gradient(
      0deg,
      transparent calc(var(--w) - 1px),
      currentColor calc(var(--w) - 1px),
      transparent var(--w)
    ),
    linear-gradient(
      90deg,
      transparent calc(var(--w) - 1px),
      currentColor calc(var(--w) - 1px),
      transparent var(--w)
    ); */
  /*   background-size: var(--w) var(--w); */
  /*   background-position: 22px 39.5px; */
  background-color: var(--cement);
}

#glyph-specimen::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 22px;
  border-radius: 2px;
  top: 176px;
  left: 22px;
  background-color: currentColor;
}

#glyph-specimen::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 22px;
  border-radius: 2px;
  bottom: 176px;
  left: 22px;
  background-color: currentColor;
}

#big {
  position: absolute;
  top: 117.5px;
  left: calc(50% - 140px);
  font-size: 440px;
}

.anatomy {
  border-top: 1px solid;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 6px 22px;
}

.specimen-details {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 94px 22px 0;
}

.specimen-name {
  width: 180px;
  text-wrap: balance;
}

#glyph-list {
  display: flex;
  flex-wrap: wrap;
}

.segment-header {
  text-transform: uppercase;
  color: var(--clay);
  font-size: 11px;
  margin: 0 auto 16px 11px;
  padding-top: 66px;
  width: 100%;
  color: var(--mud);
}

.glyph-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  font-size: 44px;
  padding: 2px;
  margin: 0 6px;

  --b: 2px; /* thickness of the border */
  --c: var(--accent); /* color of the border */
  --w: 12px; /* width of border */

  border: var(--b) solid transparent;
}

.glyph-item:hover,
.glyph-item:focus-visible {
  outline: none;
  border: var(--b) solid #0000; /* space for the border */
  --_g: #0000 90deg, var(--c) 0;
  --_p: var(--w) var(--w) border-box no-repeat;
  background:
    conic-gradient(from 90deg at top var(--b) left var(--b), var(--_g)) 0 0 /
      var(--_p),
    conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) 100% 0 /
      var(--_p),
    conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--_g)) 0 100% /
      var(--_p),
    conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g))
      100% 100% / var(--_p);
}

.glyph-item .glyph-example {
  width: 1ch;
  padding: 4px;
  background-color: transparent;
  transition: background-color 150ms var(--flick);
}

.glyph-item[data-selected="true"] .glyph-example {
  color: var(--carbon);
  background-color: var(--accent);
}

.glyph-item[data-selected="true"] .glyph-detail {
  color: var(--accent);
}

.glyph-example {
  flex: 1;
}

.glyph-detail {
  display: block;
  font-size: 1rem;
}

@media screen and (max-width: 1115px) {
  .split {
    grid-template-columns: 378px 1fr;
    gap: 55px;
  }

  #glyph-specimen {
    min-width: unset;
    width: 378px;
    height: 580px;
    grid-template-rows: 188px 48px 144px 48px 1fr;
  }

  #glyph-specimen::before {
    top: 88px;
  }

  #glyph-specimen::after {
    bottom: 88px;
  }

  #big {
    font-size: 264px;
    top: 116px;
    left: 104.5px;
  }

  .specimen-details {
    padding: 50px 22px 0;
  }

  .glyph-item {
    font-size: 33px;
  }
}

@media screen and (max-width: 1115px) {
  #tester {
    padding-top: 105px;
  }

  .segment-header {
    padding-top: 46px;
  }
}

@media screen and (max-width: 767px) {
  #tester {
    padding-top: 83px;
  }

  .split {
    display: flex;
    flex-direction: column;
    gap: 44px;
  }

  #glyph-specimen {
    display: none;
  }

  #glyph-specimen-static {
    display: block;
  }

  #apollo1 {
    display: none;
  }
}

/******************************************************************************/
/* These classes must map to font feature settings from Glyphs 3.             */
/******************************************************************************/

.sc {
  font-variant: small-caps;
}

.osf {
  font-variant: oldstyle-nums;
}

.lf {
  font-variant: lining-nums;
}

.numr {
  font-variant: numerator;
}

.dnom {
  font-variant: denominator;
}

.loclNLD {
  font-feature-settings: "locl";
}

.ss01 {
  font-variant: stylistic;
}

.ss02 {
  font-variant: stylistic-2;
}
