@font-face {
  font-family: "Departure Mono";
  src:
    url("/assets/DepartureMono-Regular.woff2") format("woff2"),
    url("/assets/DepartureMono-Regular.woff") format("woff"),
    url("/assets/DepartureMono-Regular.otf") format("opentype");
}

:root {
  font-family: "Departure Mono", monospace;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light dark;

  font-size: 11px;
  --unit: 1em;
  /* --scroll: 0%; */
  /* --fuzz: 0; */
  --t: 0%;
  --flick: cubic-bezier(0.36, 2.09, 0.07, -1.52);

  --amber: #ffa133;
  --pumpkin: #e47b1a;
  --flux: #c8be50;
  --foam: #bccabb;
  --enamel: #eeeeee;
  --cement: #c0c0c0;
  --aluminum: #cccccc;
  --ash: #8e8e8e;
  --mud: #8a8a6f;
  --clay: #6c6c58;
  --smoke: #666666;
  --dark: #444444;
  --soot: #333333;
  --carbon: #222222;
  --black: #141414;

  --accent: var(--amber);
  --fg: var(--dark);
  --bg: var(--enamel);

  color: var(--fg);
  background-color: var(--carbon);
  /* color: hsl(30 1% min(88%, var(--scroll) * 8)); */
  /* background-color: hsl(30 1% calc(100% -  min(88%, var(--scroll) * 8))); */
}

@media (prefers-color-scheme: dark) {
}

html,
body {
  max-width: 100%;
  overflow-x: clip;
}

::selection,
.light ::selection {
  color: var(--enamel);
  background-color: var(--carbon);
}

::spelling-error {
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  --fg: var(--cement);
  --bg: var(--carbon);

  color: var(--fg);
  background-color: var(--bg);
}

main ::selection {
  color: var(--carbon);
  background-color: var(--cement);
}

section {
  display: grid;
  place-items: center;
  padding: 2rem;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 44px;
  background-color: var(--carbon);
}

h2 {
  font-size: 44px;
  line-height: 1.1;
  color: var(--soot);
  background-color: var(--ash);
  line-height: 1;
  z-index: 1;
}

.callout {
  color: var(--mud);
  border-left: 7px solid var(--mud);
  padding-left: 13px;
  font-size: 11px;
  line-height: 14px;
  padding: 8px 0 8px 12px;
}

.callout::selection {
  color: var(--carbon);
  background-color: var(--cement);
}

.inverse {
  color: var(--bg);
  background-color: var(--fg);

  ::selection {
    color: var(--cement);
    background-color: var(--clay);
  }
}

.maxwidth {
  max-width: 1440px;
  padding-inline: 44px;
  margin: 0 auto;
}

.comment {
  color: var(--clay);
  font-size: 11px;
  white-space: preserve;
}

.control {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1;
}

.diagram {
  color: var(--clay);
}

.lg {
  font-size: 1.4rem;
}

.accent {
  color: var(--accent);
}

@media screen and (max-width: 1115px) {
  footer {
    flex-direction: column;
    align-items: flex-start;
    gap: 44px;
  }
}

@media screen and (max-width: 767px) {
  .maxwidth {
    padding-inline: 16px;
  }

  .type-sample.hidden-small {
    display: none;
  }

  footer {
    gap: 22px;
    padding-bottom: 33px;
  }

  h2 {
    font-size: 33px;
  }
}
